/*Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Helvetica, Arial, sans-serif;
}

#wrapper{

}

#header{
    height: 46px;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}

#nav{
    
}

#nav li{
    height: 46px;
    display: inline-block;
    padding: 12px 24px;
    position: relative;
}

#nav>li>a{
    text-transform: uppercase;
}
#nav li a{
    color: white;
    text-decoration: none;
}

#nav li:hover {
    background-color: gray;
    display: inline-block;
}

#nav li:hover a{
    color: black;
}

#nav .subnav{
    display: none; 
    position: absolute;
    background-color: white;
    top: 46px;
    left: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav li{
    min-width: 150px; 
    padding: 12px;
}

#nav .subnav li, 
#nav .subnav li a{
    color: black;
    font-size: 15px;
}
#nav li:hover .subnav{
    display: block;
}

#nav .ti-angle-down{
    font-size: 14px;
}

#header .button-search{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    height: 46px;
    padding: 15px 24px;
}

#header .button-search:hover{
    background-color: tomato;
} 

#header .ti-search{
    font-size: 16px;
}

#slider{
    margin-top: 46px;
    padding-top: 50%;
    background: url("/w3_theband/assets/img/la.jpg") top center / cover no-repeat ;

}
.text-content{
    color: white;
    padding: 32px;
    text-align: center;
    font-size: 15px;
}
.text-content .content-heading{
    padding: 25px;
    font-size: 24px;
}

#content{
    font-family: "Lato", sans-serif;
    font-size: 15px;
}

/* content-section */
.content-section{
    padding: 64px 30px;
    max-width: 900px;
    margin: auto auto;
}
.section-heading{
    font-size: 30px;
    font-family: "Segoe UI", sans-serif;
    font-weight: 400;
    margin: 10px;
    text-align: center;
    letter-spacing: 4px;

}
.subsection-heading{
    margin: 15px;
    text-align: center;
    font-style: italic;
    opacity: 0.6;
}
.about-text{
    font-family: "Lato", sans-serif;
    margin: 15px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list{
    padding-top: 32px;
    overflow: hidden;
}

#content .member-item{
    width: calc(100%/3);
    float: left;
    text-align: center;
}
#content .member-item img{
    width: 150px;
    border-radius: 4px;
    margin: 15px;
}

.text-white{
    color: white !important;
}
/* Tour-section */
.tour-section{
    background-color: black;
}
.tickets-list{
    background-color: white;
    margin-top: 40px;
    list-style: none;
}
.tickets-list li{
    padding: 10px 16px;
    font-size: 15px;
    color: #757575;
    border-bottom: 1px solid #dddd;
}
.soldout{
    color: white;
    background-color: #F44336;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list li .quantity{
    background: black;
    float: right;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    text-align: center;
    margin-top: -2px;
    margin-right: 16px;
}
/* Buy tickets */
.place-list{
    overflow: hidden;
    margin-top: 32px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 36px;
}
.place{
    float: left;
    width: calc(100%/3);
    padding: 8px;
}
.place img{
    width: 100%;
    float: left;
}
.place img:hover{
    opacity: 0.7;
}
.place-body{
    background-color: white;
    padding: 16px;
    padding-bottom: 24px;
}
.place-heading{
    padding-top: 15px;
    display: inline-block;
    font-size: 15px;
}
.place-date{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #757575;
}
.place-content{
    margin-top: 15px;
    margin-bottom: 20px;
}
.place-buy-button{
    color: white;
    background: #000;
    text-decoration: none;
    padding: 8px 16px;
    margin-bottom: 16px !important;
}
.place-buy-button:hover{
    color: black;
    background: #ccc;
}
#footer{

}
