/*Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Helvetica, Arial, sans-serif;
}

#wrapper{

}

#header{
    height: 46px;
    background-color: black;
    position: relative;
}

#nav{
    
}

#nav li{
    height: 46px;
    display: inline-block;
    padding: 12px 24px;
    position: relative;
}

#nav>li>a{
    text-transform: uppercase;
}
#nav li a{
    color: white;
    text-decoration: none;
}

#nav li:hover {
    background-color: gray;
    display: inline-block;
}

#nav li:hover a{
    color: black;
}

#nav .subnav{
    display: none; 
    position: absolute;
    background-color: white;
    top: 46px;
    left: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav li{
    min-width: 150px; 
    padding: 12px;
}

#nav .subnav li, 
#nav .subnav li a{
    color: black;
    font-size: 15px;
}
#nav li:hover .subnav{
    display: block;
}

#nav .ti-angle-down{
    font-size: 14px;
}

#header .button-search{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    height: 100%;
    padding: 15px 24px;
}

#header .button-search:hover{
    background-color: tomato;
} 

#header .ti-search{
    font-size: 16px;
}

#slider{
    /* height: 500px;
    background-color: aqua; */
}

#content{

}

#footer{

}
